.container {
    grid-template-columns: minmax(auto, 600px);
    grid-template-areas: "overlayimage";
    display: grid;
    grid-template-columns:  200px 200px 200px;
    grid-gap: 0px;
}

.container div {
    /* background-color: red; */
    opacity: 0.8;
    aspect-ratio: 1;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
}

.image {
    position: absolute;
    /* grid-area: overlayimage; */
    opacity: 0.3;
    z-index: -1;
}
